travel/WebContent/wsdl/BookTicketService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ticket.travel.ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ticket.travel.ws" xmlns:intf="http://ticket.travel.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ticket.travel.ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="bookTicket">
    <complexType>
     <sequence>
      <element name="date" type="xsd:string"/>
      <element name="cityFrom" type="xsd:string"/>
      <element name="cityTo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="bookTicketResponse">
    <complexType>
     <sequence>
      <element name="bookTicketReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="bookTicketResponse">

      <wsdl:part element="impl:bookTicketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bookTicketRequest">

      <wsdl:part element="impl:bookTicket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BookTicketService">

      <wsdl:operation name="bookTicket">

         <wsdl:input message="impl:bookTicketRequest" name="bookTicketRequest">

       </wsdl:input>

         <wsdl:output message="impl:bookTicketResponse" name="bookTicketResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookTicketServiceSoapBinding" type="impl:BookTicketService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="bookTicket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bookTicketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bookTicketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookTicketServiceService">

      <wsdl:port binding="impl:BookTicketServiceSoapBinding" name="BookTicketService">

         <wsdlsoap:address location="http://localhost:8080/travel/services/BookTicketService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
