travel/WebContent/wsdl/BookCarService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://car.travel.ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://car.travel.ws" xmlns:intf="http://car.travel.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://car.travel.ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="bookCar">
    <complexType>
     <sequence>
      <element name="size" type="xsd:string"/>
      <element name="isAT" type="xsd:boolean"/>
      <element name="cityBook" type="xsd:string"/>
      <element name="cityBack" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="bookCarResponse">
    <complexType>
     <sequence>
      <element name="bookCarReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="bookCarRequest">

      <wsdl:part element="impl:bookCar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bookCarResponse">

      <wsdl:part element="impl:bookCarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BookCarService">

      <wsdl:operation name="bookCar">

         <wsdl:input message="impl:bookCarRequest" name="bookCarRequest">

       </wsdl:input>

         <wsdl:output message="impl:bookCarResponse" name="bookCarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookCarServiceSoapBinding" type="impl:BookCarService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="bookCar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bookCarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bookCarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookCarServiceService">

      <wsdl:port binding="impl:BookCarServiceSoapBinding" name="BookCarService">

         <wsdlsoap:address location="http://localhost:8080/travel/services/BookCarService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
