travel/WebContent/wsdl/BookHotelService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://hotel.travel.ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://hotel.travel.ws" xmlns:intf="http://hotel.travel.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://hotel.travel.ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="bookHotel">
    <complexType>
     <sequence>
      <element name="date" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="bookHotelResponse">
    <complexType>
     <sequence>
      <element name="bookHotelReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="bookHotelRequest">

      <wsdl:part element="impl:bookHotel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bookHotelResponse">

      <wsdl:part element="impl:bookHotelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BookHotelService">

      <wsdl:operation name="bookHotel">

         <wsdl:input message="impl:bookHotelRequest" name="bookHotelRequest">

       </wsdl:input>

         <wsdl:output message="impl:bookHotelResponse" name="bookHotelResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookHotelServiceSoapBinding" type="impl:BookHotelService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="bookHotel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bookHotelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bookHotelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookHotelServiceService">

      <wsdl:port binding="impl:BookHotelServiceSoapBinding" name="BookHotelService">

         <wsdlsoap:address location="http://localhost:8080/travel/services/BookHotelService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
